@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fade {
  from {
    opacity: 0;
    filter: blur(3px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slide {
  from {
    translate: var(--slide-distance);
  }
  to {
    translate: 0;
  }
}

::view-transition-new(.enter-right) {
  --slide-distance: 60px;
  animation: fade 210ms ease-out 150ms, slide 400ms ease-out;
}

::view-transition-new(.enter-left) {
  --slide-distance: -60px;
  animation: fade 210ms ease-out 150ms, slide 400ms ease-out;
}

::view-transition-old(.exit-left) {
  --slide-distance: -60px;
  animation: fade 150ms ease-out reverse, slide 400ms ease-out reverse;
}

::view-transition-old(.exit-right) {
  --slide-distance: 60px;
  animation: fade 150ms ease-out reverse, slide 400ms ease-out reverse;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-new(*),
  ::view-transition-old(*) {
    --slide-distance: 0;
  }
}
